---
const pageTitle = "About me V2";
import BaseLayout from "./layouts/BaseLayout.astro";
---
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>
	
<BaseLayout title="{pageTitle}"
	<h1>Astro - TEST</h1>
    <h2>{pageTitle}</h2>
    <p>This is all a test of how text looks in the Astro Site</p>
		
	<p> How come?</p>

    <p>To test line spacing </p>

</baseLayout>