---
import BaseLayout from "./layouts/BaseLayout.astro";

---
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>

<baselayout>
	<h1>Astro - TEST</h1>
    <p>Wow, okay this actually works.</p>
    <h2>My Astro Learning Blog</h2>
    <p>This is where I will post about my journey learning Astro.</p>
		<ul>
			<li><a href="/posts/post-1/">Post 1</a></li>
			<li><a href="/posts/post-2/">Post 2</a></li>
			<li><a href="/posts/post-3/">Post 3</a></li>
		</ul>

</baselayout>