---
import BaseLayout from "./layouts/BaseLayout.astro";
---
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>

<baselayout>
	<h1>Astro - TEST</h1>
	<h2>Hello world!</h2>
	<h4>Vetle likes to eat raw potatoes, with whipped cream</h4>
</baselayout>